<!DOCTYPE HTML>
<html>
    <head>
        <title>Contact-Us</title>
        <link rel="stylesheet" href="/css/contact.css">
    </head>
    <body>
        <div class="support">
            <p>Welcome User</p>
            <a href="/home/contact" class="link1">Contact Us</a>
            <a href="/home/feedback" class="link1">Feedback</a>
            <br>
            <!--<a href="#" class="link2">Sign Out</a>-->
            </div>
            <div class="promote">
                <h2><b>Thapar ARMS<br>Auditorium and Room Management System</b></h2>
                <a class="a" href="/home/logout">Log<br>Out</a>
                <a class="a" href="/home/ChangePassword">Change<br>Password</a>
                <a class="a" href="">My<br>Requests</a>
                <a class="a" href="/home/changeInfo">Edit<br>Info</a>
                <a class="a" href="/home/personalDetails">Personal<br>Info</a>
                <br><br>
                <a href="/home"><button class="bookNow">Book Now</button></a>
            </div>
        <div class="reach">
            <h1>Send your message</h1><br><br>
            <form name="form" action="/api/contact" method="post">
                <label for="name">Name</label><br>
                <input type="text" id="Name" name="name" placeholder="Input name"><br><br>
                <label for="mail">E-Mail</label><br>
                <input type="email" id="mail" name="mail" placeholder="Input email (thapar.edu)"><br><br>
                <label for="message">Drop down your message</label><br>
                <input type="text" id="mess" name="message" maxlength=300 placeholder="Write your message (in 300 words)"><br><br><br>
                <input type="reset">
                <input type="submit" onmousedown=validate()>
            </form>
        </div>
        <script src="/js/contact.js"></script>
    </body>
</html>