<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" href="/css/signUp.css">
	<script src="/js/signUp.js"></script>
</head>
<body>
	<style>
	body{
		background-image: url("https://th.bing.com/th/id/Rc7f8f0025f585bbf8abebfeae1a50cfe?rik=PVQ2choBn6BRQA&riu=http%3a%2f%2fimg.collegepravesh.com%2f2014%2f12%2fThapar-University.jpg&ehk=CCOy468fwERBONZm5Dhv%2fG8BdT6U5ansGCbgjFc4dEQ%3d&risl=&pid=ImgRaw");
		background-repeat:no-repeat;
		background-attachment: fixed;
  		background-size: cover;
	}
	</style>
	<div class="SignUp">
		<h1>Thapar ARMS</h1>
		<h2>Faculty Sign-Up</h2>
		<form id="Sup" name="form" action="/api/faculty_sign" method="POST" id="faculty_sign">
			<label for="Name"><b>Enter Name</b></label>
			<input type="text" id="Name" name="Name" placeholder="Name">
			<br><br>
			<label for="Uid"><b>Enter User-ID</b></label>
			<input type="text" id="Uid" name="Uid" placeholder="User-ID">
			<br><br>
			<label for="mail"><b>Enter E-Mail (thapar.edu)</b></label>
			<input type="text" id="mail" name="mail" placeholder="Mail-ID">
			<br><br>
            <label for="Position"><b>Enter Position</b></label>
			<input type="text" id="dob" name="Position" placeholder="Position">
			<br><br>
			<label for="phone"><b>Enter Mobile Number</b></label>
			<input type="number" id="phone" name="phone" placeholder="Mobile Number">
			<br><br>
			<input type="hidden" id="mem_type" name="mem_type" value="faculty">
			
			<label for="pass"><b>Enter Password (Use mixture of upper case, lower case and numbers of length 8)</b></label>
			<input type="password" id="pass" name="pass" placeholder="Password">
			<br><br><br>
			<input type="submit" id="button1" onmousedown="validate()" value="Sign-Up"></input>
			<br><br>
			<label1><b>Already a member of ARMS?</label1>
			<br>	
			<a class="anchor" href="/facultylogin">Log-in here</a>

		</form>
		</div>
</body>
</html>