<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/login.css">
</head> 
<body> 
	<style>
	body{
	background-image: url("https://th.bing.com/th/id/Rc7f8f0025f585bbf8abebfeae1a50cfe?rik=PVQ2choBn6BRQA&riu=http%3a%2f%2fimg.collegepravesh.com%2f2014%2f12%2fThapar-University.jpg&ehk=CCOy468fwERBONZm5Dhv%2fG8BdT6U5ansGCbgjFc4dEQ%3d&risl=&pid=ImgRaw");
	background-repeat:no-repeat;
	background-attachment: fixed;
  	background-size: cover;
	}</style>
	<div class="login"> 
	<h2>Login</h2><br>
	<h3>Thapar ARMS<br>(Auditorium and Room Management System)</h3>
	<form id="login" name="myForm" action="/api/login" method="post">  
		<label><b> User Name</b></label>
		<input type="text" id="User" name="User" placeholder="Enter username">
		<br><br>
		<label><b> Password</b> </label>
		<input type="password" id="Pass" name="Pass" placeholder="Enter password">
		<br><br>
		{{!-- <label for="option"><b>Member Type</b></label> --}}
		{{!-- <select id="option" name="member"> --}}
		 {{!-- <option  name="mem1" value="student">Student</option> --}}
		 {{!-- <option name="mem2" value="faculty">Faculty</option> --}}
    	{{!-- </select> --}}
		<input type="radio" id="mem_type1" name="mem1" value="student">
		<label for="mem_type1">Student</label><br>
		<input type="radio" id="mem_type2" name="mem2" value="faculty">
		<label for="mem_type2">Faculty</label><br>
		<br><br>
		<button id="lin" onmousedown="validateForm()">Login</button>
		<br><br>
		</form>
		<input type="checkbox" id="check">
		<span style="color: Black;">Remember me</span>
		<br><br>
		<a class="anchor" href="/forgotPassword">Forgot Password?</a>
		<br><br>
		<label1><b>New to ARMS?</label1>
		<br>
		<a class="anchor" href="/signUp">Sign-up here</a>
	
	</div>
	<script src="/js/login.js"></script>
	<h1>{{view}}</h1>
</body>
</html>	